<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="false" debug="true">

  <appender name="FPAPP-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${FPAPP_LOGS_DIR}/fpapp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <!-- "true" to safely log to the same file from multiple JVMs. Degrades performance! -->
    <prudent>false</prudent>
  </appender>

  <appender name="CATCHALL-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${FPAPP_LOGS_DIR}/catchall-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <prudent>false</prudent>
  </appender>

  <root level="INFO">
    <appender-ref ref="CATCHALL-FILE" />
  </root>
  <logger name="pe-fp-app" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
  <logger name="pe-fp-rest" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
  <logger name="pe-fp-core" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
  <logger name="pe-user-rest" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
  <logger name="pe-user-core" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
  <logger name="pe-rest-utils" level="INFO">
    <appender-ref ref="FPAPP-FILE" />
  </logger>
</configuration>
